<div class="content">
  <div class="container">
    <div class="row card" *ngFor="let post of posts | async">

      <div class="blogpost card-body bg-light">
        <h3><a href="/posts/{{post.id}}" class="card-title">{{post.title}}</a></h3>
        <div>
          <h4> Author: {{post.username}} </h4>
        </div>
        <p class="card-text" [innerHTML]="post.content"></p>
        <div>
          <a type="button" href="/posts/{{post.id}}" class="btn btn-default">Read More</a>
        </div>

      </div>
      
    </div>
  </div>
</div>